PORT=3000

JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET

IP_HASH_SALT=CHANGE_THIS_TO_ANOTHER_RANDOM_SECRET

OWNER_ID=111111111

OWNER_EMAIL=YOUR_OWNER_EMAIL

OWNER_PASSWORD=CHANGE_YOUR_OWNER_PASSWORD

ADMIN_PANEL_PASSWORD=CHANGE_YOUR_ADMIN_PANEL_PASSWORD
